*{ padding: 0%;
margin: 0%;
}
h1 {
    background-color: white; 
    color:indianred; 
    padding-left: 5rem; 
    padding-bottom:20px; 
    padding-top: 10px;
    margin:0px;}

 body  { 
    background-image: url(file:///Users/bharatkumar/Desktop/HTML/Images/tiles%203.jpeg);
    background-size: cover;
     background-position: center; 
     border:solid brown; 
     box-sizing: border-box;
    }
   
 header {
    padding-left: 80rem; 
    background-color:brown; 
    height: 30px;
}
 .login {
    text-decoration: none; 
    padding-right: 20px; 
    color: white;
}
 .register {
    text-decoration: none;
     color: white;
    }
 footer {
     background-color: dimgrey; 
     color: antiquewhite;
     border-bottom: solid brown;
     border-top: solid brown;
     padding: 2rem;
     margin-top:500px; 
     margin-bottom:0px;
     }
.Dropdown{ 
    background-color: white;
    text-align: center;

}
.Dropdown ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.Dropdown ul li {
    width: 120px;
    margin: 5px;
    padding: 15px;
}
.Dropdown ul li a{
    text-decoration: none;
    color: indianred;

    
    
}
.All, .Dropdown ul li:hover{
    background-color: cornsilk;
    border-radius: 3px;
    
    

}
.submenu1{
    display: none;
}
.Dropdown ul li:hover .submenu1{
    display:inline-flex;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    
    
}
.Dropdown ul li:hover .submenu1 ul{
    display: block;
    margin: 10px;
    border: solid brown; 
    border-radius: 10px;
}
.Dropdown ul li:hover .submenu2{
    display: inline-flex;
    border-radius: 10px;
    position: absolute;
    background-color: white;
}

.Dropdown ul li:hover .submenu2 ul{
    display: block;
    margin: 10px;
    border: solid brown; 
    border-radius: 10px;
}
.submenu2{
    display: none;
}
.submenu3{
    display: none;
}

.Dropdown ul li:hover .submenu3{
    display: inline-flex;
    border-radius: 10px;
    position: absolute;
    background-color: white;
}
.Dropdown ul li:hover .submenu3 ul{
    display: block;
    margin: 10px;
    border: solid brown; 
    border-radius: 10px;
}
.submenu4{
    display: none;
}
.Dropdown ul li:hover .submenu4{
    display: inline-flex;
    border-radius: 10px;
    position: absolute;
    background-color: white;
}
.Dropdown ul li:hover .submenu4 ul{
    display: block;
    margin: 10px;
    border: solid brown; 
    border-radius: 10px;
}